<!--Display only for students -->
{{#unless isAdmin}}
	<!-- Button trigger modal -->
	<button
		type='button'
		class='btn btn-outline-primary fw-bold rounded-0'
		data-bs-toggle='modal'
		data-bs-target='#exampleModal'
	>
		New Incident Report
	</button>
{{/unless}}

<!-- Modal -->
<div
	class='modal fade'
	id='exampleModal'
	tabindex='-1'
	aria-labelledby='exampleModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog'>
		<div class='modal-content'>
			<div class='modal-header'>
				<h5 class='modal-title' id='exampleModalLabel'>New Incident Report </h5>
				<button
					type='button'
					class='btn-close'
					data-bs-dismiss='modal'
					aria-label='Close'
				></button>
			</div>
			<div class='modal-body'>
				<div class='form-floating m-2'>
					<textarea
						required
						name='description'
						class='form-control'
						placeholder='describe your report here..'
						id='floatingTextarea'
						rows='12'
						style='height: 100px'
					></textarea>
					<label for='floatingTextarea'>Description</label>
				</div>

				<div class='form-floating m-2'>
					<input
						type='text'
						name='roomno'
						required
						class='form-control'
						aria-label='Sizing example input'
						aria-describedby='inputGroup-sizing-default'
						placeholder='Room Number'
					/>
					<label for='floatingTextarea'>Room No and Hostel</label>
				</div>

				<div class='form-floating m-2'>
					<div class='input-group mb-3'>
						<select
							name='categoryId'
							class='form-select'
							id='inputGroupSelect02'
							required
						>
							<option selected>Choose...</option>
							<option value='1'>Maintenance</option>
							<option value='2'>Security</option>
							<option value='3'>Electrical</option>
							<option value='4'>Business</option>
						</select>

						<input type='hidden' name='studentId' value='{{user.id}}' />
					</div>

				</div>
			</div>
			<!-- Submit button -->
			<div class='modal-footer'>
				<button
					type='button'
					class='btn btn-secondary btn-sm d-grid gap-2 col-4 mx-auto'
					data-bs-dismiss='modal'
				>Close</button>
				<button
					type='submit'
					class='btn btn-danger btn-sm d-grid gap-2 col-6 mx-auto'
				>Post</button>
			</div>
		</div>
	</div>
</div>

<script>
	const myModal = document.getElementById('myModal') const myInput =
	document.getElementById('myInput') myModal.addEventListener('shown.bs.modal',
	() => { myInput.focus() })
</script>