{{#if alert}}
	<!-- Success Alert-->
	<div
		class='alert alert-success alert-dismissible fade show p-2 m-1'
		role='alert'
	>
		{{alert}}
		<button
			type='button'
			class='btn-close p-1 m-1'
			data-bs-dismiss='alert'
			aria-label='Close'
		></button>
	</div>

{{/if}}