<header class='header'>
	<div class='container'>
		<div>
			<h2 class='text-warning'>Student Incident Management System</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cumque
				inventore repellendus omnis ut ea esse cupiditate eaque nobis dicta
				autem a est doloribus aut, delectus sunt suscipit praesentium dolor!</p>
		</div>

		<img src='../image/3.jpg' class='img-fluid' alt='sims' />
	</div>
</header>

<section class='boxes'>
	<div class='container'>
		<div class='box'><h2 class='text-warning'><i class='fas'></i>Lodge your
				Problem</h2>
			<p>Make an incident complain with any of the categories in the school </p>

		</div>

		<div class='box'><h2 class='text-warning'><i class='fas'></i>Wait to Resolve</h2>
			<p>While the report is pending and waiting to be assigned to a staff to
				solve it.</p>

		</div>

		<div class='box'><h2 class='text-warning'><i class='fas'></i>Provide
				Feedback</h2>
			<p>give feedback based on the way the problem is resolved.
			</p>

		</div>

	</div>
</section>