{{#each studentList}}
<form class="d-flex justify-content-center" action="/editstudent/{{this.id}}" method="post">
  <div class="col-md-7">
   
<div class="card text-center p-5">
<h2 class="mb-5">Update Student  </h2>
  <!-- Error Message-->
  {{> errorMessage}}

  {{> registerStd.partial}}
  
  <!-- Submit button -->
  <div class="row">
     <a type="button" href="/allstudents" class="btn btn-secondary btn-md d-grid gap-2 col-4 mx-auto">Cancel</a> 
     <button type="submit" class="btn btn-success btn-md d-grid gap-2 col-7 mx-auto">Update</button>

</div>   
    
  </div>
</div>
  </div>
  
</form>
{{/each}}